@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

#stetson-logo {
    padding: 10px;
    position: relative;
    left: 20px;
}

.topnav {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    left: 1300px;
    bottom: 40px;
}

.navlink {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

#features-tab {
    position: relative;
    right: 400px;
    bottom: 16px;
}

#hat-types {
    position: relative;
    right: 200px;
    bottom: 54px;
}

#history-tab {
    position: relative;
    right: 0px;
    bottom: 94px;
}

#big-text {
    color: rgb(212, 136, 35);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

#welcome-text {
    width: 500px;
    height: 400px;
    position: relative;
    left: 200px;
    top: 30px;

}

#big-text2 {
    color: rgb(212, 136, 35);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

#lil-text {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    left: 3px;

    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

#main-image {
    position: relative;
    left: 800px;
    bottom: 550px;
}

.button1 {
    border: none;
    color:  rgb(212, 136, 35);
    background-color: transparent;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 23px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    position: absolute;
    bottom: 160px;
    left: 260px;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 40px;
    }

.button1 {
    background-color: none;
    color: rgb(212, 136, 35);
    border: 2px solid  rgb(212, 136, 35);
    }

.button1:hover {
    background-color:  rgb(212, 136, 35);
    color: white;
    }

#features {
    width: 650px;
    position: absolute;
    left: 750px;
    top: 650px;
}

.feature-head {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: -10px;
}

p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#hat-head {
    width: 100%;
    position: absolute;
    top: 550px;
    left: 175px;
}

.hat-types {
    width: 100%;
}

#hat-tag {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

#hat-link{
    position: absolute;
    left: 175px;
    top: 550px;
}

#westernimg {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    left: 375px;
    top: 700px;
}

#westernimg img {
    width: 320px;
    height: 270px;
    margin: -30px 0 0 5px;
}

#outdoorimg {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    left: 775px;
    top: 700px;
}

#outdoorimg img {
    width: 320px;
    height: 270px;
    margin: -30px 0 0 5px;
}

#fedoraimg {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    left: 1175px;
    top: 700px;
}

#fedoraimg img {
    width: 320px;
    height: 270px;
    margin: -30px 0 0 5px;
}

.hatlbl {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#westernlbl {
    position: absolute;
    top: 950px;
    left: 470px;
}

#outdoorlbl {
    position: absolute;
    top: 950px;
    left: 870px;
}

#fedoralbl {
    position: absolute;
    top: 950px;
    left: 1285px;
}

#history {
    position: absolute;
    top: 1600px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: -10px;
}

#storylbl {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

#footer {
    position: absolute;
    top: 1900px;
    width: 100%;
}

.botnav {
    text-align: right;
}

#copyright {
    text-align: right;
}

#hatimg {
    height: 600px;
    width: 670px;
    position: absolute;
    left: 750px;
    bottom: 25px;
}

#horseimg {
    height: 450px;
    width: 350px;
    position: absolute;
    left: 100px;
    top: 625px;
}

#mountainimg {
    height: 350px;
    width: 250px;
    position: absolute;
    left: 400px;
    top: 645px;
}
